<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
<p>
    Die moderne Schulmedizin bietet uns eine Vielzahl an Möglichkeiten zur Behandlung von Schmerzen. Manchmal kommt es jedoch vor, dass keine davon eine Linderung zu erreichen vermag. In diesen Fällen kann eine Akupunktur dabei helfen, die Beschwerden unserer Patienten zu reduzieren oder zu beseitigen und ihnen dadurch zu mehr Lebensqualität zu verhelfen. Diese mehr als 3.000 Jahre alte Behandlungstechnik aus der traditionellen chinesischen Medizin hat sich in den vergangenen Jahrzehnten auch in der westlichen Welt etabliert und erfreut sich dort steigender Beliebtheit.
</p>