<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
<br/>Pflichtangaben nach §5 TGM
<br/>
<br/>Seiteninhaber & Betreiber: 
<br/>Tarik Majid
<br/>Facharzt für Orthopädie
<br/>Wilhelm-Mangels-Strasse 17-19
<br/>56410 Montabaur
<br/>T 02602 900-00
<br/>info(at)ortho-montabaur.de
<br/>
<br/>
<br/>zuständige Landesärztekammer (Aufsichtsbehörde):
<br/>Landesärztekammer Rheinland/Pfalz
<br/>Deutschhausplatz 3
<br/>55116 Mainz
<br/>Tel.Nr.     06131 28822-0
<br/>Fax Nr.   06131 28822-88
<br/>
<br/>
<br/><br/>Kassenärztliche Vereinigung RLP
<br/>Regionalzentrum Koblenz
<br/>Emil-Schüller-Str. 14-16
<br/>56073 Koblenz
<br/>Tel.Nr.   0261 39002-0
<br/>Fax Nr   0261 39002-111
<br/>
<br/>
<br/>Berufsbezeichnung:
<br/>Arzt, verliehen in der Bundesrepublik Deutschland
<br/>
<br/>Berufsrechtliche Regelungen:
<br/>Berufsorientierung und einsehbare Berufsordnung der Landesärztekammer der RLP