<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>

<p>
Tarik Majid war zuletzt als Facharzt in der Rehahabilitationsklinik für Orthopädie und Gynäkologie der Eisenmoorbad 
Bad Schmiedeberg-Kur-GmbH tätig. Nach seinem Medizinstudium, dass er 2010 an der Justus-Liebig-Universität in Gießen abschloss, 
arbeitete er an unterschiedlichen Kliniken im Bereich Ortopädie und Unfallchirurgie. 
</p>

<p>„Nach gut 10 Jahren Klinikerfahrung freue ich mich jetzt, mein medizinisches Know-How in einer Praxis und damit noch ein Stück näher an den Menschen praktizieren zu dürfen“ so der vor kurzem 40 Jahre alt gewordene Orthopäde.</p>

<table>
    <tr>
        <td>
            <p class="fetter">Facharzt für Orthopädie & Unfallchirurgie</p>
            <span class="schmaler">2020: Eisenmoorbad Bad Schmiedeberg Kur- GmbH</span>
        </td>
        <td>
            <p class="fetter">Assistenzarzt bei Dr. med. Herbert Röhrig</p>
            <span class="schmaler">2017-2019: Bethlehem Gesundheitszentrum Stolberg – Orthopädie</span>
        </td>
    </tr>
    <tr>
        <td>
            <p class="fetter">Assistenzarzt bei Prof. Dr. Franz-Walter Koch</p>
            <span class="schmaler">2014-2016: St. Josef Hospital Troisdorf – Orthopädie</span>
        </td>
        <td>
            <p class="fetter">Assistenzarzt bei Dr. med. Oluf Hübner</p>
            <span class="schmaler">2012-2014: Evangelisches Krankenhaus Dierdorf/Selters</span>
        </td>
    </tr>
    <tr>
        <td>
            <p class="fetter">Assistenzarzt bei Dr. med. Klaus-Peter Kröll & Dr. med. Michael Pröbstel</p>
            <span class="schmaler">2010-2012: Hochwaldkrankenhaus Bad Naunheim</span>
        </td>
        <td>
            <p class="fetter">Approbation als Arzt</p>
            <span class="schmaler">bis 2010: Medizinstudium an der Justus-Liebig-Universität Gießen</span>
        </td>
    </tr>
</table>