<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>

<p>
Tarik Majid war zuletzt als Facharzt in der Rehahabilitationsklinik für Orthopädie und Gynäkologie der Eisenmoorbad 
Bad Schmiedeberg-Kur-GmbH tätig. Nach seinem Medizinstudium, dass er 2010 an der Justus-Liebig-Universität in Gießen abschloss, 
arbeitete er an unterschiedlichen Kliniken im Bereich Ortopädie und Unfallchirurgie. 
</p>

<p>„Nach gut 10 Jahren Klinikerfahrung freue ich mich jetzt, mein medizinisches Know-How in einer Praxis und damit noch ein Stück näher an den Menschen praktizieren zu dürfen“ so der vor kurzem 40 Jahre alt gewordene Orthopäde.</p>

<table>
    <tr>
        <td>
            Facharzt für Orthopädie & Unfallchirurgie
            2020: Eisenmoorbad Bad Schmiedeberg Kur- GmbH
        </td>
        <td>
            Assistenzarzt bei Dr. med. Herbert Röhrig
            2017-2019: Bethlehem Gesundheitszentrum Stolberg – Orthopädie
        </td>
    </tr>
    <tr>
        <td>
            Assistenzarzt bei Prof. Dr. Franz-Walter Koch
            2014-2016: St. Josef Hospital Troisdorf – Orthopädie
        </td>
        <td>
            Assistenzarzt bei Dr. med. Oluf Hübner
            2012-2014: Evangelisches Krankenhaus Dierdorf/Selters
        </td>
    </tr>
    <tr>
        <td>
            Assistenzarzt bei Dr. med. Klaus-Peter Kröll & Dr. med. Michael Pröbstel
            2010-2012: Hochwaldkrankenhaus Bad Naunheim
        </td>
        <td>
            Approbation als Arzt
            bis 2010: Medizinstudium an der Justus-Liebig-Universität Gießen
        </td>
    </tr>
</table>