<h1>{{title}}</h1>


<table>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td class ="namenFett">
            Tarik Majid 
        </td>
        <td>
            Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. Als Chef geht er mit gutem Beispiel voran. 
        </td>
    </tr>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td class ="namenFett">
            Maria Magdalene
        </td>
        <td>
           Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. Ohne sie läuft der Laden nicht. 
        </td>
    </tr>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td class="namenFett">
            Navrad Badad
        </td>
        <td>
           Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. Er hat diese tolle Seite programmiert. 
        </td>
    </tr>
</table>

