<h1>{{title}}</h1>


<table>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td>
            Tarik Majid 
        </td>
        <td>
            Als Chef geht er mit gutem Beispiel voran
        </td>
    </tr>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td>
            Maria Magdalene
        </td>
        <td>
           Ohne sie läuft der Laden nicht.
        </td>
    </tr>
    <tr>
        <td>
            <img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
        </td>
        <td>
            Navrad Badad
        </td>
        <td>
           Er hat diese tolle Seite programmiert
        </td>
    </tr>
</table>

