ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  position: sticky;
  top: 300px;
  z-index: 50; 
}

@media (min-width: 768px) {
  ul {
    flex-direction: column;
  }
}
#menuItems {
width: 200px;
}