<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
<p>
    In der orthopädischen Praxis Montabaur sind wir breit aufgestellt – um Ihre Gesundheit zu erhalten und Ihre Beschwerden zu zielgerichtet zu therapieren. 
    Wir sind ebenfalls spezialisiert in:
</p>
<ul>
    <li>
        Magnetfeldtherapie
    </li>
    <li>
        Osteologie – Osteoporose
    </li>
    <li>
        Schmerztherapie
    </li>
    <li>
        Weichteil-/Gelenkultraschall
    </li>
    <li>
        Röntgendiagnostik-Skelett
    </li>
    <li>
        Verkehrsmedizinische Gutachten
    </li>
</ul>