<h1>{{title}}</h1>

<img [id]="[id]" [src]="[foto]" [alt]="[id]"/>
<p>
   Ein Gelenkverschleiß  (Arthrose) beginnt von Defekten/Zerstörungen der Knorpeloberfläche bis hin zu Knochen- und Gelenkachsen-veränderungen im fortgeschrittenen Stadium. Bei den Knorpelschutz- und Körperaufbaupräparaten auf Hyaluron-säurebasis werden diese Lösungen zur Aufbesserung der Gelenk-schmiere in den Gelenkraum injiziert. Es kommt dadurch zu einer Verbesserung des Gelenkmilieus. Je nach Gelenk und Schweregrad der Arthrose sind zwischen ein und fünf Behandlungen (1x pro Woche) nötig, die auch später mit weniger Injektionen wiederholt werden können. Die Therapie bewirkt einen Rückgang der Schmerzen und eine Zunahme der Gelenkbeweglichkeit durch die Verbesserung der Gleitfähigkeit.
</p>
<a href="www.google.de"> ssssdfsd</a>